extends layout
block content
    .topbar
    ul
    a(href='/admin' style='color: white') AdminPage &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='admin/events' style='color: white') EventsAdmin &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='/events' style='color: white') Events &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='/groups' style='color: white') Groups &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='/logout' style='color: white') Logout &nbsp&nbsp&nbsp&nbsp&nbsp


    .container.funktioner
        form(action="/admin/search", method='GET', role='search')
            .form-search
                input(type='search' placeholder=' Search...' name='SearchGroupAdmin' id="SearchIDA")
                button(type='search' id='searchButton') Search
        form(action="/admin/groups", method="post")
            .form-group
                input(type="text" name="id"  class="group-id" placeholder="Id der skal slettes")

        input(type='button' onclick="location.href='/adminopret';" value='Opret en gruppe')


        input(type="button" onclick="location.href='/adminupdate/:id'," value='Opdater en gruppe')


    .container tabel
        table.col-xs-12
            tr
                th Id
                th Org
                th Om
                th Email
                th Facebook url
                th Password
                th Roles
                th Funktioner
            each group in grouplist ? grouplist : []
                tr
                    td #{group.id}
                    td #{group.group_name}
                    td #{group.group_about}
                    td #{group.group_email}
                    td #{group.fburl}
                    td #{group.password}
                    td #{group.roles}
                    td
                        input(type="button" onclick="location.href='/adminupdate';" value='Opdater en gruppe')









