extends layout
block content
    .topbar 
    ul
    a(href='/events' style='color: white') Events &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='/groups' style='color: white') Groups &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='/logout' style='color: white') Login &nbsp&nbsp&nbsp&nbsp&nbsp
    
    a(href='/admin' style='color: white') Login &nbsp&nbsp&nbsp&nbsp&nbsp

    button.dropbtn Sort
            .dropdown-content

                    a(href='/events/sortddateasc') Date  &uarr;

                    a(href='/events/sortddatedesc') Date &darr;

                    a(href='/events/eventnameasc') Name &uarr;

                    a(href='/events/eventnamedesc') Name &darr;

    .sidebar
            ol 
                Events  
                        ol
                            each event in eventlist ? eventlist : []
                                p  Navn: #{event.event_name} Klubnavn: #{event.orgname} Event Type: #{event.event_type} Beskrivelse: #{event.beskrivelse} Lokation: #{event.lokation} Tid: #{event.tid} Dato: #{event.dato} Pris: #{event.pris} Facebook URL: #{event.fburl}