table.table
    tr
        th Id
        th Org
        th Om
        th Email
        th Facebook url
        th Password
        th Roles
            each group in grouplist ? grouplist : []
                tr
                    td #{group.id}
                    td #{group.group_name}
                    td #{group.group_about}
                    td #{group.group_email}
                    td #{group.fburl}
                    td #{group.password}
                    td #{group.roles}
