extends layout
block content
    .topbar
    ul
    a(href='/admin' style='color: white') Dashboard &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='/admin/events' style='color: white') Admin events &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='/events' style='color: white') Events &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='/groups' style='color: white') Groups &nbsp&nbsp&nbsp&nbsp&nbsp

    a(href='/logout' style='color: white') Logout &nbsp&nbsp&nbsp&nbsp&nbsp


    .container.search
        form(action="/admin/search", method='GET', role='search')
            .form-search
                input(type='search' placeholder=' Search...' name='SearchGroupAdmin' id="SearchIDA")
                button(type='search' id='searchButton') Search




    .container tabel
        table.col-xs-12
            tr
                th Id
                th Org
                th Om
                th Email
                th Facebook url
                th Password
                th Roles
                th Funktioner
            each group in grouplist ? grouplist : []
                tr
                    td #{group.id}
                    td #{group.group_name}
                    td #{group.group_about}
                    td #{group.group_email}
                    td #{group.fburl}
                    td #{group.password}
                    td #{group.roles}
                    td
                        form(action=`/admin/groups/?id=${group.id}` method='post')
                            button.btn.btn-lg(type='submit') Delete

                        form(action=`/admin/groups/role/?id=${group.id}` method='post')
                            button.btn.btn-lg(type='submit') Give role 1

                        a(href=`/adminupdate/?id=${group.id}`) Update











