extends layout
block content
    include nav
    h1= current = ''
    body
        h420    Event info
        ol
            .event-container2
                each event in eventlist
                    .event

                        .event-right2
                            
                            
                            .event Event: #{event.event_name}
                            .event id : #{event.id}
                            .event group id: #{event.GroupId}
                            .date Om: #{event.beskrivelse}
                            .date d. #{event.dato}
                            .sted Sted: #{event.lokation}
                            .event-timing Kl. #{event.tid}
                            .pris Pris: #{event.pris}
                            .fburl Evt. Facebook link: #{event.fburl}