extends layout

block content
    include nav
    h1= current = 'Events'
    body
    
    form(action="/events/search", method='GET', role='search')
        .form-search
            input(type='search' placeholder=' Search...' name='SearchName' id="SearchID")
            button(type='search' id='searchButton') Search 
        
        button.dropbtn Sort
                .dropdown-content

                        a(href='/events/sortddateasc') Date  &uarr;

                        a(href='/events/sortddatedesc') Date &darr;

                        a(href='/events/eventnameasc') Name &uarr;

                        a(href='/events/eventnamedesc') Name &darr;

        ol
            .event-container
                each event in eventlist
                    h3.event-title #{event.event_name}

                        .event
                            .event-left
                                .event-date

                            .event-right

                                .klub Klub: #{event.orgname}
                                .date d. #{event.dato}
                                .sted Sted: #{event.lokation}
                                .event-description #{event.beskrivelse}
                                .event-timing Kl. #{event.tid}

