extends layout
block content
    include nav
    h1= current = 'Events'
    body

    ol
        each event in eventlist
            .event-container
                .event
                    .event-left
                        .event-date
                        
                    .event-right
                        h3.event-title #{event.event_name}
                        .date #{event.dato}
                        .event-description #{event.beskrivelse}
                        .event-timing #{event.tid}

