extends layout
block content
    include nav
    h1= current = 'Events'
    body
    .form
        input(type='text' placeholder=' Search...' name='search')
        button(type='submit') Submit

    button.dropbtn Sort
            .dropdown-content

                    a(href='#') Date  &uarr;

                    a(href='#') Date  &darr;

                    a(href='#') Name &uarr;

                    a(href='#') Name &darr;

    ol
        each event in eventlist
            h3.event-title #{event.event_name}

            .event-container
                .event
                    .event-left
                        .event-date

                    .event-right

                        .klub Klub: #{event.orgname}
                        .date d. #{event.dato}
                        .event-description #{event.beskrivelse}
                        .event-timing Kl. #{event.tid}

