extends layout
block content
    include nav
    h1= current = 'Events'
    body
    form(action='/search' method='post')
        input(type='text' id='event_name' placeholder=' Search...' name='q')
        button(type='search') Search

    include sort

    h2
        each event in eventlist
            .event
                h3.event-title #{event.event_name}
                p.event-description #{event.beskrivelse}
                p.event-timing kl.#{event.tid}
                p.date #{event.dato}
