extends layout

block content
    include nav
    h1= current = ''
    body
        button.dropbtn Sort
            .dropdown-content

                a(href='/events/sortddateasc') Date  &uarr;

                a(href='/events/sortddatedesc') Date &darr;

        ol

            .event-container
                for event in eventlist
                    p()
                    a(href=`/eventsinfo/?id=${event.id}` style='color: white' method = 'GET' id=`EventInfo`)  #{event.event_name}
                        p()

                        .event
                            .event-left
                                .event-date

                            .event-right

                                .klub Klub: #{event.group}
                                .date d. #{event.dato}
                                .sted Sted: #{event.lokation}
                                .event-timing Kl. #{event.tid}

    include pagination