each event in eventlist
                        .event
                            .event-left
                                .event-date

                            .event-right

                                
                                .klub Klub: #{event.group_id}
                                .date d. #{event.dato}
                                .sted Sted: #{event.lokation}
                                .event-description Om: #{event.beskrivelse}
                                .event-timing Kl. #{event.tid}
                                .pris Pris: #{event.pris}
                                .fburl Facebook URL: #{event.fburl}
                                