extends layout

block content
    include nav
    h1= current = ''
    body
    
    form(action="/events/search", method='GET', role='search')
        .form-search
            input(type='search' placeholder=' Search...' name='SearchName' id="SearchID")
            button(type='search' id='searchButton') Search 
        ol
            .event-container
                each event in eventlist
                    p()
                    a(href='/eventinfo' style='color: white')  #{event.event_name}
                        p()

                        .event
                            .event-left
                                .event-date

                            .event-right

                                .klub Klub: #{event.group_id.group_name}
                                .date d. #{event.dato}
                                .sted Sted: #{event.lokation}
                                .event-description #{event.beskrivelse}
                                .event-timing Kl. #{event.tid}

