extends layout
block content
    include nav
    h1= current = 'Events'
    body
    .form
        input(type='text' placeholder=' Search...' name='search')
        button(type='submit') Submit

    .dropdown
    button Sort
            .dropdown-content

                li
                    a(href='') Date&uarr;
                li
                    a(href='') Date&darr;
                li
                    a(href='') Name&uarr;
                li
                    a(href='') Name&darr;

    ol
        each event in eventlist
            .event-container
                .event
                    .event-left
                        .event-date
                        
                    .event-right
                        h3.event-title #{event.event_name}
                        .date #{event.dato}
                        .event-description #{event.beskrivelse}
                        .event-timing #{event.tid}

