extends layout

block content
    include nav
    h1= current = ''

    ol
    form(action="/groups/search", method='GET', role='search')
        .form-search
            input(type='search' placeholder=' Search...' name='SearchGroup' id="SearchIDG")
            button(type='search' id='searchButton') Search 

        .group-event
            each group in grouplist
                h5.group-name #{group.group_name}

                    .group
                        .group-left

                        .group-right

                            .name #{group.group_name}
                            .email Email: #{group.group_email}
                            .fburl Facebook: #{group.fburl}
                            .info Om: #{group.group_about}
