extends layout

block content
    include nav
    h1= current = ''

    ol

        .group-event
            each group in grouplist
                h5.group-name 
                p()
                    a(href=`/groupinfo/?id=${group.id}` style='color: white' method = 'GET' id=`GroupInfo`)
                        p()
                            .group
                                .group-left

                                .group-right

                                    .name #{group.group_name}
                                    .email Email: #{group.group_email}
                                    .fburl Facebook: #{group.fburl}
