extends layout
block content
    include nav
    h1= current = ''
    body
        ol
            for group in grouplist
                        .name #{group.group_name}
                        .info Om: #{group.group_about}
                        .email Email: #{group.group_email}
                        .fburl Facebook: #{group.fburl}
