extends layout

block content
    include nav
    h1= current = ''
    body
    .container.funktioner
        form(action="/groups/search", method='GET', role='search')
            .form-search
                input(type='search' placeholder=' Search for your events' name='SearchGroup' id="SearchIDG")
        form(action='/createevent')
            button(type='submit') Opret en event

    .group-information
        for group in grouplist ? grouplist : []
            p
            .groupabout Om #{group.group_about}


    ol
            .event-container Your events:
                each event in yourevent

                    a(href=`/eventsinfo/?id=${event.id}` style='color: white')


                        .event
                            .event-left

                                .event-date
                            .event-right
                                .id Event name: #{event.event_name}
                                .date d. #{event.dato}
                                .sted Sted: #{event.lokation}
                                .event-description #{event.beskrivelse}
                                .event-timing Kl. #{event.tid}

                                form(action=`/grouppanel/?id=${event.id}` method='post')
                                    button.btn.btn-lg(type='submit') Delete
                                a(href=`/grouppanelupdate/?id=${event.id}`) Update

