extends layout

block content
    include nav
    h1= current = ''
    body
    .container.funktioner
        form(action="/groups/search", method='GET', role='search')
            .form-search
                input(type='search' placeholder=' Search...' name='SearchGroup' id="SearchIDG")
                button(type='search' id='searchButton') Search
        form(action="/admin/groups", method="post")
            .form-group
                input(type="text" name="id"  class="group-id" placeholder="Id der skal slettes")
        form(action='/createevent')
            button(type='submit') Opret en event







    ol
            .event-container Yourevent
                each event in yourevent
                    P()
                    a(href='/eventinfo' style='color: white')  #{event.event_name}
                        p()

                        .event
                            .event-left
                                .event-date

                            .event-right
                                .id Event id: #{event.id}
                                .date d. #{event.dato}
                                .sted Sted: #{event.lokation}
                                .event-description #{event.beskrivelse}
                                .event-timing Kl. #{event.tid}