includes layout

block content
    include nav
    h1= current = ''
    body
        event in eventlist 
                a(href='/eventinfo' style='color: white')  #{event.event_name}
                        p()

                        .event
                            .event-left
                                .event-date

                            .event-right

                                .date d. #{event.dato}
                                .sted Sted: #{event.lokation}
                                .event-description #{event.beskrivelse}
                                .event-timing Kl. #{event.tid}